// VARIABLES
// =================================================
// ----Colours---------
$bg-colour: #fff;
$bg-hi-colour: rgba(255, 255, 255, 0.5);
$bg-lo-colour: rgba(64, 63, 63, 1);
$bg-lo-colour-opaque: rgba(64, 63, 63, 0.8);
$fg-colour: #000;
$fg-lo-colour: #a8a6a6;
$logo-colour: #dc4141;
$form-error-colour: rgba(255, 0, 0, 0.1);

// ----Grid------------
$grid-gutter-small: 5px;
$grid-gutter-medium: 10px;
$grid-gutter-large: 20px;
$header-height: 60px;
$max-width: 1500px;
$footer-trail: 2em;

// ---Content----------
$carousel-height: 45vh;
$section-height: 33.33vw;


// FUNCTIONS
// =================================================
@function sum($a, $b) {
	@return $a + $b
}


// MIXINS
// =================================================
@mixin box-reset {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


// SITE CSS - COMMON
// =================================================
body {
	font-family: 'Lato', sans-serif;
	color: $fg-colour;
	line-height: 1.5em;
	overflow-x: hidden;
}

a {
	color: $logo-colour;
}

.container {
	max-width: $max-width;
	margin: auto;
}

header {
	width: 100%;
	max-width: $max-width;
	height: $header-height;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: $bg-lo-colour-opaque;

	h1 {
		@include box-reset;
		position: absolute;
		top: 0;
		left: 0;
	
		a {
			@include hide-text;
			width: sum(60px, $grid-gutter-small);
			height: 60px;
			display: inline-block;
			background: url('../img/logo.png') no-repeat $grid-gutter-small;
		}
	}
}

nav {
	h2 {
		display: none;
	}

	abbr[title] {
		border-bottom: none;
	}

	ul {
		list-style: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;

		li {
			display: inline-block;
			margin-right: 4vw;
			height: 28px;

			a {
				display: table-cell;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 300;
				color: $bg-colour;
				vertical-align: middle;
				height: 28px;
			}
		}
	}
	
	> ul {
		> li {
			&:first-child {
				font-size: 38px;
				margin: -4px 0 0 0;
			}

			&:nth-last-child(-n+2) {
				@include hide-text;
				width: 28px;
				background-image: url('../img/twitter.png');
			}

			&:last-child {
				background-image: url('../img/facebook.png');
				margin-right: $grid-gutter-small;
			}

			> ul {
				display: none;
				position: absolute;
				top: $header-height;
				right: $grid-gutter-small*2;
				background-color: $bg-lo-colour-opaque;
				margin: 0;
				padding: .5em;

				&.toggle {
					display: inline-block;
				}

				> li {
					margin: 0;
					padding: .5em;
					display: block;
				}
			}
		}
	}
}

.carousel {
	width: 100%;
	height: 0;
	padding-top: 41.66%; /* img height / img width * 100 */
	background: url('../img/carousel/thin/thin-1.jpg') no-repeat center bottom;
	background-size: cover;
	overflow: hidden;
	position: relative;

	.carousel-content {
		position: absolute;
		top: 52.5%;
		right: 0;
		width: 41%;
		background-color: $bg-lo-colour-opaque;

		&:before {
			content: '';
			float: left;
			padding-top: 15%;
		}

		.carousel-logo {
			display: block;
			padding-top: 15%;
			margin: $grid-gutter-medium;
			background: url('../img/heading.png') no-repeat left center;
			background-size: contain;
		}
	}
}

.content,
.testimonial {
	min-height: $section-height;
	max-height: $max-width/3;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	h1 {
		display: none;
	}
}

.gallery {
	h2 {
		display: none;
	}

	.main-gallery {
		@include box-reset;
		list-style: none;
		position: relative;
		max-width: $max-width;
		overflow: hidden;
		margin-bottom: 10px;

		&:focus {
			outline: none;
		}
	}

	.gallery-cell {
		background-repeat: no-repeat;
		background-size: cover;
		width: 70%;
		position: relative;

		// Make the height the same as the width (square)
		&:before {
			content: '';
			float: left;
			padding-top: 100%;
		}
	}

	.flickity-prev-next-button {
		@include box-reset;
		position: absolute;
		top: 0;
		width: 15%;
		height: 100%;
		background: $bg-lo-colour-opaque;
		outline: none;

		&.previous {
			left: 0;
		}

		&.next {
			right: 0;
		}

		.arrow {
			fill: $bg-colour;
		}

		svg {
			width: 50px;
			height: 75px;
		}

		&.no-svg {
			color: $bg-colour;
		}

		&:active,
		&:focus {
			outline: none;
		}
		
		&:disabled {
			display: none;
		}
	}
}

.testimonial {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-bottom: 1em;

	p {
		width: 75%;
		color: $bg-colour;
		background-color: $logo-colour;
		padding: $grid-gutter-medium;
		text-align: left;
		position: relative;

		&:after {
			content: "";
			display: block; /* reduce the damage in FF3.0 */
			position: absolute;
			bottom: -15px;
			right: 50px;
			width: 0;
			border-width: 15px 15px 0;
			border-color: $logo-colour transparent;
			border-style: solid;
		}
	}

	a,
	a:active,
	a:visited {
		color: $bg-colour;
	}
}

.home {
	.carousel {
		padding-top: 66.66%;
		background: url('../img/carousel/carousel-1.jpg') no-repeat center bottom;
		background-size: cover;
	}

	.services {
		margin-bottom: 10px;

		h1 {
			display: none;
		}

		ul {
			@include box-reset;
			list-style: none;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-align-items: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}

		li {
			background: $logo-colour center;
			background-size: cover;
			position: relative;
			-webkit-flex: 1 1 200px;
			-ms-flex: 1 1 200px;
			flex: 1 1 200px;
			
			a {
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				position: absolute;
				top: 0;
				left: 0;
				color: $bg-colour;
				text-align: center;

				h2 {
					@include box-reset;
					display: block;
					// vertical-align: middle;
					text-transform: uppercase;
					font-size: 1.5em;
					position: relative;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				p {
					display: none;
				}
			}

			&:nth-child(2) {
				background-image: url('../img/hire.jpg');

				a {
					background-color: $bg-lo-colour-opaque;
				}
			}
		}
	}
}

.thanks main,
.contact main,
.text main {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: $grid-gutter-small;

	section h2 {
		color: $logo-colour;
		font-size: 3.5em;
		line-height: 1em;
		font-family: 'Love Ya Like A Sister', 'Lato', sans-serif;
		word-wrap: break-word;
	}
}

.thanks,
.contact {
	label {
		@include box-reset;
		display: block;
		text-transform: uppercase;
	}

	.required:after {
		content: "*";
		color: $logo-colour;
	}

	.field,
	.field-inline {
		margin-bottom: 1em;
	}

	.field-inline {
		display: inline-block;
		margin-right: 1em;
	}

	input:not([type='image']),
	textarea {
		border: 1px solid $logo-colour;
		padding: .5em;
		width: 16em;
	}

	textarea {
		height: 5em;
	}

	.invalid {
		background-color: rgba(255, 0, 0, 0.2);
	}
}

.contact .message {
	margin: 1em 0;
	border: 1px solid $bg-lo-colour;
	padding: .5em;
	display: none;
}

button,
.button {
	border: 0;
	background-color: $logo-colour;
	display: inline-block;
	color: $bg-colour;
	padding: .5em 1em;
	text-decoration: none;
	text-transform: uppercase;
}

footer {
	font-size: .9em;
	font-weight: 300;
	padding: $grid-gutter-small $grid-gutter-small $footer-trail $grid-gutter-small;
	background-color: $bg-lo-colour;
	color: $fg-lo-colour;
	position: relative;

	strong {
		font-weight: 400;
	}

	a,
	a:active,
	a:visited {
		color: $fg-lo-colour;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	ul {
		@include box-reset;
		list-style: none;

		li {
			display: block;
		}
	}
}


// SITE CSS - RETINA
// =================================================
@media all and (-webkit-min-device-pixel-ratio: 2) {
	header h1 a {
		background-image: url('../img/logo@2x.png');
		background-size: 45px 42px;
	}

	nav > ul > li {
		&:nth-last-child(-n+2) {
			background-image: url('../img/twitter@2x.png');
			background-size: 28px 28px;
		}

		&:last-child {
			background-image: url('../img/facebook@2x.png');
			background-size: 28px 28px;
		}
	}
}


// SITE CSS - MEDIUM
// =================================================
@media screen and (min-width: 481px) {
	header h1 a {
		background-position: $grid-gutter-medium;
		width: sum(60px, $grid-gutter-medium);
	}

	nav > ul > li:last-child {
		margin-right: $grid-gutter-medium;
	}

	.content p {
		width: 75%;
	}

	.gallery {
		.gallery-cell {
			width: 50%;
		}

		.flickity-prev-next-button {
			width: 25%;
		}
	}

	footer {
		padding: $grid-gutter-medium $grid-gutter-medium $footer-trail $grid-gutter-medium;
	}
}


// SITE CSS - WIDER
// =================================================
@media screen and (min-width: 600px) {
	nav {
		> ul > li {
			&:first-child {
				display: none;
			}

			> ul {
				display: inline-block;
				position: static;
				background-color: transparent;
				padding: 0;

				&.toggle {
					display: inline-block;
				}

				> li {
					display: inline-block;
					margin-right: 4vw;
					padding: 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.thanks main,
	.contact main,
	.text main {
		margin: $grid-gutter-medium;
	}

	.thanks,
	.contact {
		textarea {
			width: 34.4em;
		}
	}

	.testimonial {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		background: url('../img/crab.png') no-repeat center right;
		padding-bottom: 0;
		max-width: 386px*2;
		margin: auto;

		p {
			margin: 0 386px+$grid-gutter-medium*2 0 $grid-gutter-medium;
			padding: $grid-gutter-medium;
			max-width: 600px;

			&:after {
				content: "";
				bottom: 15px;
				right: -15px;
				border-width: 15px 0 15px 15px;
				border-color: transparent $logo-colour;
			}
		}
	}

	.home .services {
		ul {
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
		}

		li {
			&:before {
				content: '';
				float: left;
				padding-top: 100%;
			}
		}
	}

	footer ul li:last-child {
		position: absolute;
		right: $grid-gutter-medium;
		top: $grid-gutter-medium;
	}
}


// SITE CSS - LARGE
// =================================================
@media screen and (min-width: 768px) {
	header h1 a {
		background-position: $grid-gutter-large;
		width: sum(60px, $grid-gutter-large);
	}

	nav > ul > li {
		&:nth-last-child(-n+2),
		&:last-child {
			margin-right: $grid-gutter-large;
		}
	}

	.carousel .carousel-content .carousel-logo {
		background-image: url('../img/heading@2x.png');
	}

	.thanks main,
	.contact main,
	.text main {
		margin: $grid-gutter-large;
	}

	.home .services a:hover {
		h2 {
			display: none;
		}

		p {
			margin: 0;
			padding: $grid-gutter-large;
			display: block;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);

			strong {
				font-weight: 400;
			}
		}
	}

	.thanks main,
	.contact main,
	.text main {
		section {
			-webkit-flex-basis: 30%;
			-ms-flex-preferred-size: 30%;
			flex-basis: 30%;
			text-align: center;

			h2 {
				font-size: 5.4vw;
			}

			.strapline-content {
				display: inline-block;
				text-align: left;
			}
		}

		article {
			-webkit-flex-basis: 65%;
			-ms-flex-preferred-size: 65%;
			flex-basis: 65%;
		}
	}

	.contact main section,
	.thanks main section {
		span {
			text-align: left;
			display: inline-block;
		}

		.label {
			width: 3em;
			text-align: right;
		}
	}

	.gallery {
		.gallery-cell {
			width: 33.33%;
		}

		.flickity-prev-next-button {
			width: 33.33%;
		}
	}

	.testimonial p {
		margin-left: $grid-gutter-large;
		padding: $grid-gutter-large;
	}

	footer {
		padding: $grid-gutter-large $grid-gutter-large $footer-trail $grid-gutter-large;

		ul li:last-child {
			right: $grid-gutter-large;
			top: $grid-gutter-large;
		}
	}
}

// SITE CSS - SUPER WIDE
// =================================================
@media screen and (min-width: $max-width) {
	.thanks main,
	.contact main,
	.text main {
		section h2 {
			font-size: 5em;
		}
	}
}