// VARIABLES
// =================================================
// ----Colours---------
$bg-colour: #fff;
$bg-hi-colour: rgba(255, 255, 255, 0.5);
$bg-lo-colour: rgba(64, 63, 63, 1);
$bg-lo-colour-opaque: rgba(64, 63, 63, 0.8);
$fg-colour: #000;
$fg-lo-colour: #a8a6a6;
$logo-colour: #dc4141;
$form-error-colour: rgba(255, 0, 0, 0.1);

// ----Grid------------
$grid-gutter-small: 5px;
$grid-gutter-medium: 10px;
$grid-gutter-large: 20px;
$header-height: 60px;
$max-width: 1600px;
$footer-trail: 2em;

// ---Content----------
$carousel-height: 40vh;
$section-height: 30vh;
$section-max-height: 12em;


// FUNCTIONS
// =================================================
@function sum($a, $b) {
	@return $a + $b
}


// MIXINS
// =================================================
@mixin box-reset {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


// SITE CSS - COMMON
// =================================================
body {
	font-family: 'Lato', sans-serif;
	color: $fg-colour;
	line-height: 1.5em;
	overflow-x: hidden;
}

.container {
	max-width: $max-width;
	margin: auto;
}

header {
	width: 100%;
	max-width: $max-width;
	height: $header-height;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: $bg-lo-colour-opaque;

	h1 {
		@include box-reset;
		position: absolute;
		top: 0;
		left: 0;
	
		a {
			@include hide-text;
			width: sum(60px, $grid-gutter-small);
			height: 60px;
			display: inline-block;
			background-image: url('../img/logo.png');
			background-position: $grid-gutter-small;
			background-repeat: no-repeat;
		}
	}
}

nav {
	ul {
		list-style: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;

		li {
			display: none;
			margin-right: 4vw;
			height: 28px;

			a {
				display: table-cell;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 300;
				color: $bg-colour;
				vertical-align: middle;
				height: 28px;
			}
		}
	}
	
	> ul > li {
		&:first-child {
			font-size: 28px;
			display: inline-block;
		}

		&:nth-last-child(-n+2) {
			display: inline-block;
			@include hide-text;
			width: 28px;
			background-image: url('../img/twitter.png');
		}

		&:last-child {
			display: inline-block;
			background-image: url('../img/facebook.png');
			margin-right: $grid-gutter-small;
		}
	}
}

.carousel {
	width: 100%;
	height: 0;
	padding-top: 66.66%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	background-image: url('../img/carousel/carousel-1.jpg');
	overflow: hidden;
	position: relative;

	h2,
	p {
		display: none;
	}
}

.content,
.testimonial {
	min-height: $section-height;
	max-height: $section-max-height;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	h1 {
		display: none;
	}

	p {
		width: 75%;
	}
}

.testimonial p {
	color: $bg-colour;
	background-color: $logo-colour;
	padding: $grid-gutter-medium;
	text-align: left;
}

.home {
	.services {
		min-height: $section-height;
		max-height: $section-max-height;

		h1 {
			display: none;
		}

		ul {
			@include box-reset;
			height: 100%;
			list-style: none;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-align-items: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
		}

		li {
			background-color: $logo-colour;
			background-size: cover;
			background-position: center;
			height: $section-height;
			max-height: $section-max-height;
			text-align: center;
			-webkit-flex: 1 1 200px;
			-ms-flex: 1 1 200px;
			flex: 1 1 200px;
			
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				text-decoration: none;
			}

			h2 {
				@include box-reset;
				text-transform: uppercase;
				color: $bg-colour;
				font-size: 1.5em;
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}

			&:nth-child(1) {
				background-image: url('../img/hire.jpg');

				a {
					background-color: $bg-lo-colour-opaque;
				}
			}
		}
	}
}

.text main {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: $grid-gutter-small;

	section h2 {
		color: $logo-colour;
		font-size: 3em;
	}
}

footer {
	font-size: .9em;
	padding: $grid-gutter-small $grid-gutter-small $footer-trail $grid-gutter-small;
	background-color: $bg-lo-colour;
	color: $fg-lo-colour;

	a,
	a:active,
	a:visited {
		color: $fg-lo-colour;
		text-decoration: none;
	}

	ul {
		@include box-reset;
		list-style: none;

		li {
			display: block;
		}
	}
}


// SITE CSS - MEDIUM
// =================================================
@media screen and (min-width: 481px) {
	header h1 a {
		background-position: $grid-gutter-medium;
		width: sum(60px, $grid-gutter-medium);
	}

	nav {
		> ul > li {
			&:last-child {
				margin-right: $grid-gutter-medium;
			}
		}
	}

	footer {
		padding: $grid-gutter-medium $grid-gutter-medium $footer-trail $grid-gutter-medium;
	}
}


// SITE CSS - WIDER
// =================================================
@media screen and (min-width: 600px) {
	nav {
		ul li {
			display: inline-block;
		}

		> ul > li {
			&:first-child {
				display: none;
			}
		}

		> ul > li > ul > li {
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.carousel {
		padding-top: 0;
		height: $carousel-height;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;

		h2 {
			@include hide-text;
			@include box-reset;
			display: block;
			height: 51px;
			background-repeat: no-repeat;
			background-image: url('../img/heading.png');
			background-position: center top;
			background-size: 419px 100%;
		}

		p {
			display: inline-block;
			color: #fff;
			font-size: .9em;
			text-align: center;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
	}

	.text main,
	.carousel-content {
		margin: $grid-gutter-medium;
	}

	.testimonial {
		background-repeat: no-repeat;
		background-position: center right;
		background-image: url('../img/crab.png');
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;

		p {
			margin-left: $grid-gutter-medium;
			margin-right: 319px + $grid-gutter-medium;
			padding: $grid-gutter-medium;
			max-width: 600px;
			position: relative;

			&:after {
				content: "";
				display: block; /* reduce the damage in FF3.0 */
				position: absolute;
				bottom: 10px;
				right: -50px;
				width: 0;
				border-width: 10px 0 10px 50px;
				border-color: transparent $logo-colour;
				border-style: solid;
			}
		}
	}
}


// SITE CSS - LARGE
// =================================================
@media screen and (min-width: 768px) {
	header h1 a {
		background-position: $grid-gutter-large;
		width: sum(60px, $grid-gutter-large);
	}

	nav > ul > li:last-child {
		margin-right: $grid-gutter-large;
	}

	.text main,
	.carousel-content {
		margin: $grid-gutter-large;
	}

	.carousel {
		h2 {
			background-position: right top;
		}

		p {
			margin-left: 60%;
			text-align: right;
		}
	}

	.text main {
		section {
			-webkit-flex-basis: 25%;
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			text-align: center;
		}

		article {
			-webkit-flex-basis: 75%;
			-ms-flex-preferred-size: 75%;
			flex-basis: 65%;
		}
	}

	.testimonial p {
		margin-left: $grid-gutter-large;
		padding: $grid-gutter-large;
	}

	footer {
		padding: $grid-gutter-large $grid-gutter-large $footer-trail $grid-gutter-large;
	}
}