<!DOCTYPE html>
<html>
<head>
	<title>Balloons Inc</title>
</head>
<body>
	<div class="content">
		<h1>balloons inc</h1>
		<ul>
			<li>cart (0)</li>
			<li>sign in</li>
			<li>register</li>
		</ul>
		<ul>
			<li>bouquets</li>
			<li>twisting</li>
			<li>contact</li>
		</ul>
		<h2>handcrafted balloon bouquets</h2>
		<p>Flowers are always a well received gift, but if you're looking for something more unique why not try giving a bouquet of balloon flowers? Each bunch is handcrafted to order, and guaranteed to bring a smile. No watering required.</p>
		<p><a href="#">Order your balloons</a></p>
		<footer>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
			<ul>
				<li>&copy; balloons inc. 2013</li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Cookie & Privacy Policy</a></li>
			</ul>
		</footer>
	</div>
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-39475717-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body>
</html>
