/* VARIABLES
=================================================*/
/*----Colours------------*/
$bg-colour: #eee;
$bg-hi-colour: rgba(255, 255, 255, 0.5);
$fg-colour: #000;
$logo-colour: #ff3066;

/*----Grid------------*/
$grid-width: 799px;
$grid-gutter: 10px;
$grid-margin: 0px;




/* MIXINS
=================================================*/
@mixin box-reset {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin list-reset {
	list-style: none;
	@include box-reset;
}

@mixin bg-panel {
	background-color: $bg-hi-colour;
}

@mixin img-border {
	border: $grid-gutter solid #fff;
	border-radius: $grid-gutter;
}





/* SITE CSS
=================================================*/
/*----Reset------------*/
header,footer,h1,h2,p,input,textarea,img {
	@include box-reset;
}

/*----Global page------------*/
body {
	font-family: Arial, sans-serif;
	background: $bg-colour url('../images/squairy_light.png');
	color: $fg-colour;
	line-height: 1.5em;
	text-align: center;
	@include box-reset;
}

header {
	margin-top: $grid-gutter*2;

	img {
		@include box-reset;
		float: left;
		margin-top: 5px;
	}

	h1 {
		height: 102px;
		text-indent: -5000px;
		background: url('../images/binc_heading.png') right no-repeat;
		overflow: hidden;
	}
}

h2 {
	color: $logo-colour;
	margin: $grid-gutter*5 0;
	position: relative;
	overflow: hidden;
	line-height: 1.5em;
}

.heading {
	display: inline-block;
	position: relative;
	text-indent: -5000px;
	font-size: 1.5em;
	background-repeat: no-repeat;
	height: 45px;

	&:before, &:after {
		content: "";
		position: absolute;
		height: .6em;
		border-bottom: 2px solid $logo-colour;
		top: 0;
		width: $grid-width/2;
	}

	&:before {
		right: 100%;
		margin-right: $grid-gutter;
	}

	&:after {
		left: 100%;
		margin-left: $grid-gutter;
	}
}

.container {
	width: $grid-width;
	margin: $grid-gutter auto;

	h1 {
		@include box-reset;
		color: $logo-colour;
	}
}

.panel {
	@include bg-panel;
	padding: $grid-gutter;
}

.content p, .contact-text p {
	margin: $grid-gutter*2 $grid-gutter;
}

footer {
	@include bg-panel;
	border-top: 2px solid $logo-colour;
	padding-bottom: $grid-gutter*4;
	font-size: .8em;
	overflow: hidden;

	.copyright {
		float: left;
	}

	.footer-links {
		float: right;

		ul {
			@include list-reset;

			li {
				display: inline-block;

				&:after {
					content: " | ";
				}

				&:last-child:after {
					content: " ";
				}

				a {
					text-decoration: none;
					color: $fg-colour;

					&:hover {
						text-decoration: underline;
					}

					&:active {
						color: $logo-colour;
					}

					&:visited {
						color: $fg-colour;
					}
				}
			}
		}
	}
}

.content-img-wrapper {
	@include img-border;
	margin-top: $grid-gutter+$grid-gutter/2;
	height: 348px;
}

label {
	@include box-reset;
	display: block;
	text-transform: uppercase;
	font-size: .8em;
}

.required:after {
	content: "*";
	color: $logo-colour;
}

.field, .field-inline {
	margin-bottom: $grid-gutter/2;
}

.field-inline {
	display: inline-block;
	margin-right: $grid-gutter;
}

input:not([type='image']), textarea {
	border: 1px solid $logo-colour;
	border-radius: 2px;
	padding: $grid-gutter/2;
	width: 215px;
}

textarea {
	width: 455px;
	height: 90px;
}

/*----Home page------------*/
.home {
	.content {
		font-weight: bold;
	}

	.me {
		overflow: hidden;
		position: relative;

		.heading {
			background-image: url('../images/binc_aboutme.png');
			width: 229px;
		}

		.panel {
			text-align: left;
			font-size: .9em;
			float: left;
			width: 350px;
			margin-top: 40px;
			position: relative;
			padding: $grid-gutter*2+$grid-gutter/2 $grid-gutter*2 $grid-gutter*2+$grid-gutter/2 $grid-gutter*2;
		
			img:first-child {
				@include box-reset;
				position: absolute;
				top: $grid-gutter/2;
				left: $grid-gutter+2px;
			}

			img:last-child {
				@include box-reset;
				position: absolute;
				bottom: $grid-gutter/2;
				right: $grid-gutter+2px;
			}

			.bio {
				display: inline-block;
				margin: 0 35px 0 36px;
			}
		}

		.speech {
			display: inline-block;
			position: absolute;
			margin-top: 150px;
			left: 390px;
			width: 0; 
			height: 0; 
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			border-left: 50px solid $bg-hi-colour;
		}

		img {
			float: right;
			@include img-border;
		}
	}

	.contact {
		padding-bottom: $grid-gutter*5;

		.heading {
			background-image: url('../images/binc_getintouch.png');
			width: 202px;
		}

		.contact-wrapper {
			overflow: hidden;
			text-align: left;
			font-size: .9em;

			.contact-text {
				float: left;
				width: 31%;

				p {
					margin-top: 0;
				}

				a, .tel {
					color: $logo-colour;
					text-decoration: none;
				}

				ul {
					@include list-reset;
					margin-left: $grid-gutter;

					li {
						display: block;
						margin-bottom: $grid-gutter;

						a {
							display: inline-block;
							height: 37px;
							padding: 5px 0 0 47px;
							text-decoration: none;
							color: $fg-colour;
						}

						.link-fb {
							background: url('../images/binc_fb.png') no-repeat;
						}

						.link-twitter {
							background: url('../images/binc_twitter.png') no-repeat;
						}
					}
				}
			}

			.contact-form {
				margin-left: 40%;
			}
		}
	}

	.offer {
		.heading {
			background-image: url('../images/binc_whatioffer.png');
			width: 189px;
		}

		.panel {
			margin-top: 70px;
			padding-top: 20px;

			em {
				color: $logo-colour;
				font-style: normal;
				@include box-reset;
			}

			ol {
				@include list-reset;
				display: inline-block;
				margin-top: $grid-gutter*4;

				li {
					display: inline-block;
					width: 28%;
					font-size: .8em;
					position: relative;

					span {
						position: absolute;
						top: -100px;
						left: 50px;
						width: 106px;
						height: 99px;
						background-image: url('../images/binc_order.png');
					}
				}

				li:first-child {
					float: left;

					span {
						background-image: url('../images/binc_hire.png');
					}
				}

				li:last-child {
					float: right;

					span {
						background-image: url('../images/binc_book.png');
					}
				}
			}
		}
	}
}